{
  "extends": "react-app",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            modules: ["src", "node_modules"]
          }
        }
      }
    }
  }
}
