.Query {
  font-size: 16px;
}

.Query button,
.Query input,
.Query select {
  font-size: inherit;
}

.Query-field {
  margin-left: 20px;
}

.Query-prevNext button {
  width: 80px;
  text-align: center;
}
