.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header h1 {
  margin: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-main {
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
